.filesContainer {
    width: 85vw;
    margin: 3rem auto;
    height: 28rem;
    border-radius: 2rem;
    background-color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
}

.fileUploadButton {
    width: 13rem;
    height: 2.5rem;
    border-radius: 1rem;
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.filesContainer a {
    color: var(--grey);

}