.inProgress {
    width: 85vw;
    height: 50vh;
    color: var(--white);
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inProgress P {
    text-align: center;
    line-height: 3.5rem;
}